@media screen and (max-width: 1199px) {
  .main-gallery {
    display: none;
  }
}
.main-gallery {
  padding-bottom: 120px;
}
.main-description {
  display: flex;
  padding: 0;
}
.main-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-align: center;
}
.main-photo {
  flex-basis: calc((100% - 2 * 24px) / 3);
  border: 1px solid #e7e9fc;
}
