@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .adress-page {
    display: none;
  }
  .mobile-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .navigation-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-number {
  text-decoration: none;
}
.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
}
.logo-second-dark {
  color: var(--primary-text-color);
}
.mobile-menu-burger {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  fill: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-burger {
    display: none;
  }
  .navigation {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 120px;
    gap: 40px;
  }
  .navigation-text {
    display: flex;
    align-items: center;
  }
  .link-item {
    display: block;
    margin-left: auto;
    padding: 24px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-item:hover,
  .link-item:focus {
    color: var(--accent-kolor);
  }
  .current {
    position: relative;
    color: var(--accent-kolor);
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0px;
    border-radius: 2px;
    background: var(--accent-kolor);
    margin-bottom: -3px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-page {
    display: flex;
    margin-left: auto;
  }
  .contact-adress {
    padding-bottom: 10px;
    padding-top: 24px;
    display: flex;
    gap: 6px;
    flex-direction: column;
  }
  .page {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-mail:hover,
  .adress-mail:focus {
    color: var(--accent-kolor);
  }
  .phone-number:hover,
  .phone-number:focus {
    color: var(--accent-kolor);
  }
}
@media screen and (min-width: 1200px) {
  .logo-first {
    margin-right: 76px;
    line-height: 1.33;
  }

  .contact-adress {
    flex-direction: row;
    padding: 24px 0;
    gap: 0;
  }
  .page {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .current::after {
    margin-bottom: -1px;
  }
  .contact-adress .contact-item + .contact-item {
    margin-left: 40px;
  }
}
