@media screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-origin);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms calc(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 80px 35px 40px 40px;
  }
  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 8px;
    display: flex;
    width: 24px;
    height: 24px;
    background-color: var(--background-origin);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu-mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }
  .adress-media-wrapper {
    margin-top: auto;
  }
  .adress-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 48px;
  }
  .phone-number-mobile {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color);
  }
}
@media screen and (min-width: 428px) {
  .phone-number-mobile {
    font-size: 36px;
  }
  .address-mobile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .social-list-modal {
    display: flex;
    justify-content: space-between;
  }
  .social-list-link-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color);
  }
  .social-list-icon-modal {
    fill: var(--icons-color);
  }
}
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
