.navigation-page {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
}
.navigation-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navigation {
  display: flex;
  gap: 40px;
}
.contact-adress {
  display: flex;
  align-items: center;
}
.logo-first {
  margin-right: 76px;
}
.nav-link:not(:last-child) {
  margin-right: 40px;
}
.contact-item {
  display: block;
  padding: 24px 0;
}
.link-item {
  padding: 24px 0;
}
.navigation .link-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation .current {
  color: var(--accent-kolor);
}
.link-item:hover,
.link-item:focus {
  color: var(--accent-kolor);
}
.adress-page {
  font-style: normal;
}
.contact-adress .page {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-mail {
  margin-left: auto;
  margin-right: 40px;
}
.adress-mail:hover,
.adress-mail:focus {
  color: var(--accent-kolor);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-kolor);
}
/* .logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
}
.logo-second-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo-second-light {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--icons-color); 
} */
/* Hero */
/* .title-hero {
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-origin);
}

 .hero { 
  max-width: 1440px;
  background: var(--primary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/herobg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 188px;
  outline: 1px solid black;
  text-align: center;
  margin: 0 auto;
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--background-origin);
  background: var(--accent-kolor); 
}
.btn-hero {
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-origin);
  background: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* features 
 .features-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--icons-color);
  margin-bottom: 8px;
}
.features-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.features-description {
  display: flex;
  gap: 24px;
}
.features-caption {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.features-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}  */
/* gallery-content */
/* .main-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-align: center;
}
.main-description {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.main-photo {
  flex-basis: calc((100% - 2 * 24px) / 3);
  border: 1px solid #e7e9fc;
} */
/* employee-content */
.employee-page {
  background: var(--icons-color);
}
.employee-list {
  display: flex;
  gap: 24px;
}
.employee-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.employee-text {
  padding-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.employee-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-kolor);
}
.social-list-icon {
  fill: var(--icons-color);
}
.color-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-origin);
}
/* customers */
.customers-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
/* .customers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
} */
/* .customers-list {
  width: 168px;
  height: 88px;
}
.customers-link {
  padding: 16px 32px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--accent-kolor);
  border: 1px solid var(--accent-kolor);
}

.customers-item {
  fill: currentColor;
} */
/* footer */
.footer-page .container {
  display: flex;
  align-items: baseline;
}
.footer-page {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--primary-text-color);
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-social {
  margin-left: 120px;
}
.footer-social-titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-origin);
}
.footer-social-titel {
  display: flex;
  margin-bottom: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--icons-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
}
/* portfolio */
.gallery-content {
  padding-top: 96px;
  padding-bottom: 120px;
}
.modale-btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--brand-color);
  background: var(--icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modale-btn-text:hover,
.modale-btn-text:focus {
  color: var(--background-origin);
  background-color: var(--accent-kolor);
}
.modale-btn-text:hover,
.modale-btn-text:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}
.modale-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.gallery-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.gallery-part {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.gallery-item-list {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item-list:hover,
.gallery-item-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-item {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--icons-color);
  background-color: var(--brand-color);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item-list:hover .overlay,
.gallery-item-list:focus .overlay {
  transform: translate(0, 0);
}
/* backdrop */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
} */
/* .modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal-close-btn {
  fill: #000000;
} */

/* .modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-kolor);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--background-origin);
} */
.close-icon:hover,
.close-icon:focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */
/* .current {
  position: relative;
}
.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -2px;
  background-color: var(--accent-kolor);
} */

.modal-form-titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding-left: 38px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-span {
  display: inline-block;
  margin-bottom: 4px;
}
.modal-form-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 8px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 24px;
  background-color: fill var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--brand-color);
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;
  padding: 8px 16px;
  resize: none;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: var(--brand-color);
  outline: none;
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-check-desc {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  margin-top: 16px;
}
.items-rules {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--brand-color);
}
.modal-form-check {
  position: absolute;
  top: 100%;
  left: 8px;
  appearance: none;
  opacity: 0;
  width: 1px;
  height: 1px;
}
.modal-form-check:checked + .modal-form-checkbox {
  background-color: var(--accent-kolor);
  border-color: var(--accent-kolor);
}
.modal-form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: var(--icons-color);
  border: 1.25px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-checkbox .checkbox-icon {
  opacity: 1;
  fill: var(--icons-color);
}
.checkbox-icon {
  fill: currentColor;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit {
  font-family: inherit;
  align-self: center;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--background-origin);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  color: var(--background-origin);
  background-color: var(--accent-kolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* .subscribe-titel {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-origin);
  margin-bottom: 16px;
} */
/* .modal-form-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid var(--background-origin);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-origin);
  font-size: 12px;
  line-height: 2;
  border-radius: 4px;
  resize: none;
  outline: none;
  background-color: var(--primary-text-color);
  margin-right: 24px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal-form-subscribe::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-origin);
}

.modal-form-subscribe:focus {
  border-color: var(--icons-color);
  outline: none;
} */

.subscribe-part-desc {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.subscribe-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-origin);
  background-color: var(--brand-color);
  cursor: pointer;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--accent-kolor);
}
.subscribe-form {
  display: flex;
}
.icon-subscribe {
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 16px;
}
.icon-subscribe {
  fill: var(--background-origin);
}
