.employee-page {
  padding-top: 96px;
  padding-bottom: 96px;
  background: var(--icons-color);
}
.employee-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .employee-list {
    width: 100%;
  }
}
.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}
.employee-card-content {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-origin);
  padding: 32px 16px;
  border-top: 0;
  align-self: center;
}
.employee-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.employee-text {
  padding-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-kolor);
}
.social-list-icon {
  fill: var(--icons-color);
}
@media screen and (min-width: 768px) {
  .employee-page {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .employee-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .employee-page {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .employee-list {
    gap: 24px;
  }
}
