.gallery-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (min-width: 320px) {
  .overlay {
    display: none;
  }
  .gallery-list {
    margin-top: 48px;
  }
}
